version: "3"

services:
  nginx:
    image: nginx
    volumes:
      - ./:/code:rw
      - ./docker/default.conf:/etc/nginx/conf.d/default.conf:rw
    environment:
      - VIRTUAL_HOST=shop.local
    links:
      - fpm
  fpm:
    build: docker/fpm
    links:
      - db
    volumes:
      - ./:/code:rw
    environment:
      - DB_HOST=db
      - DB_PORT=3306
  db:
    image: mysql
    volumes:
      - ./database/mirror:/var/lib/mysql
    restart: always
    ports:
      - 3306
    expose:
      - 3306
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=shop
      - MYSQL_USER=root
      - MYSQL_PASSWORD=secret

networks:
  default:
    external:
      name: nginx-proxy